<div class="detail-container">
  <div class="post-content">
    <h2 class="post-title">{{ post.title }}</h2>
     <p class="post-meta">Posted on {{ post.createdAt | date: 'medium' }}</p>
    <p class="post-body">{{ post.body }}</p>
     <div class="post-tags">
    <span *ngFor="let tag of post.tags" class="tag">{{ tag }}</span>
  </div>
  </div>
  <div class="comments">
    <h3 class="comment-title">Comments</h3>
    <div *ngFor="let comment of comments" class="comment">
        <span class="comment-name">{{ comment.name }}:</span>
      <p class="comment-body">{{ comment.body }}</p>
    </div>
  </div>
</div>
